/* GENERAL DECLARATIONS */

:root {
  --clr-primary-200: #ffffff;
  --clr-primary-500: #a52a2a;
  --clr-netural-900: #8c2a2a;
  --clr-hover: #ff6666;
  --ff-primary: 'Arimo', sans-serif;
  --ff-accent: 'Rubik', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  transition: all 0.4s ease;
}

/* .pan-up {
  touch-action: pan-up;
}

.pan-down {
  touch-action: pan-down;
} */

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  font-weight: 700;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
  height: 300px;
}

a {
  background-color: var(--clr-primary-500);
}

.link_label:hover,
.navbar .link_label:hover {
  background-color: var(--clr-hover) !important;
  color: #000;
}

.text-center {
  text-align: center;
}

.text-wrapper {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
}

.btn-floating {
  height: auto;
  width: 40%;

  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  margin-top: 10px;
  float: right;
  transition: all 0.4s ease;
}

.btn-floating:hover {
  background-color: var(--clr-netural-900) !important;
}

.btn-floating:link,
.btn-floating:visited {
  background-color: var(--clr-primary-500);
}

/* Accessibility stuff */

.fixed-btn {
  display: flex;
  border-radius: 50%;
  background: var(--clr-primary-500);
  color: #ffff;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 25px;
  z-index: 5;
  transition: all 0.4s ease;
  border: 1.5px solid black;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.fixed-btn:hover {
  transform: rotate(25deg) scale(0.9);
  background-color: var(--clr-netural-900);
  cursor: pointer;
}

.fixed-btn:active,
.fixed-btn:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

/*.text-scale {
  bottom: 5vh;
}

.contrast {
  bottom: 5vh;
}

.grayscale-btn {
  bottom: 5vh;
}*/

.blackend {
  -webkit-filter: contrast(200%);
}

.grayscale {
  -webkit-filter: grayscale(100%);
}

.material-icons {
  font-size: 40px;
}

.pressed {
  background: gray;
}

/* Sections declarations */

header,
section {
  padding: 3rem 0;
}

header {
  position: relative;
  height: 100vh;
  color: white;
}

.wave-0,
.wave-4,
.wave-2 {
  background-color: var(--clr-primary-200);
}

.wave-0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/header.jpeg');
  background-size: cover;
  background-position: center;
}

.wave-1 {
  background-color: var(--clr-netural-900);
  color: white;
}

.wave-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/walking.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-top: 300px;
  padding-bottom: 300px;
}

.survey-links {
  padding-top: 30px;
  text-align: center;
}
.survey-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: var(--clr-primary-500);
  transition: all 0.4s ease;
}
.survey-link:hover {
  background-color: var(--clr-hover);
  color: black;
}

.profile-card-holder {
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #dcdde1;
  transition: all 0.3s ease;
}

.profile-card-holder:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 10px #dcdde1;
}

.profile-card-holder > * + * {
  text-align: center;
}

.profile-name {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.profile {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 15px;
}

.wave-4 .split {
  gap: 20px;
}

.device img {
  height: auto;
  width: 100%;
}

/* Navbar */
.navbar {
  /* overflow: hidden; */
  background-color: var(--clr-primary-500);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar:active,
.navbar:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(45deg, #faf857, #32fadc);
  background-size: 100%;
  font-size: 3rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.burger {
  display: none;
  margin-top: 12px;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 3px;
  margin: 7px;
  background-color: white;
  transition: all 0.3s ease;
}

.sticky {
  top: 0;
  width: 100%;
}

/* All media queries */
@media screen and (max-width: 1240px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 7vh;
    background-color: #701616;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
  }

  ul li:first-child {
    order: 4;
  }
  ul li:nth-child(2) {
    order: 3;
  }
  ul li:nth-child(3) {
    order: 2;
  }
  ul li:nth-child(4) {
    order: 1;
  }
  .nav-links li,
  .nav-links a {
    background-color: var(--clr-netural-500);
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
@media screen and (max-width: 1010px) {
  .btn-floating {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .text-wrapper {
    top: 5%;
    text-align: center;

    width: 50%;
  }
}

@media screen and (max-width: 350px) {
  .text-wrapper {
    width: 70%;
    left: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .text-wrapper h1 {
    font-size: 2.5rem;
  }
  .text-wrapper p {
    font-size: 1.2rem;
  }
  .logo {
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  .navbar li {
    padding-left: 20px;
  }
}

@media (min-width: 400) {
  .link_label {
    font-size: 5px;
  }
}

@media (min-height: 300px) {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }
}

@media (min-width: 77em) {
  header,
  section {
    padding: 4rem 0;
  }
}

@media (min-width: 77em) {
  .split {
    flex-direction: row;
  }

  .device {
    width: 50%;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

/* Dunno if this is the way to do it? maybe i should not leave it here in the media query */
@media (min-height: 0px) {
  .fixed-btn {
    width: 40px;
    height: 40px;
  }

  .fixed-btn span {
    font-size: 2rem;
  }
  .text-scale {
    bottom: 5vh;
  }

  .contrast {
    bottom: 13vh;
  }

  .grayscale-btn {
    bottom: 21vh;
  }
}

/* Animations */

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 9px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -9px);
}
